[Unit]
Description=My Spring Boot Application

[Service]
User=ubuntu
ExecStart=sudo -u ubuntu /usr/bin/java -jar /home/ec2-user/apache-tomcat-10.1.14/webapps/BackendApplication.war
WorkingDirectory=/home/ec2-user/apache-tomcat-10.1.14/webapps
Restart=always
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=BackendApp

[Install]
WantedBy=multi-user.target

